# C++
/backend/out/
/backend/.vs/
/backend/CMakeSettings.json

# Node
/frontend/node_modules/
/frontend/.next/
/frontend/next.config.ts
/frontend/.env.local

# Config sensible
config.json

# OS
.DS_Store
Thumbs.db